.banner {
background-size: cover;
background-position: center;
background-image: linear-gradient(rgba(0,0,0,1.0),rgba(0,0,0,1.0));
padding: 150px 0;
}

.banner h1 {
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  backdrop-filter: blur(0.5px);
}

.banner p {
  color: white;
  opacity: 0.8;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 55px;
}
